
h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img {
  border-radius: 2%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.unlikedBtn {
  width: 150px;
  height: 50px;
  display: block;
  text-align: center;
  border:none;
  border:solid 2px blue;
  border-radius: 5px;
  background: rgba(255, 255, 255,0);
  color:blue;
  font-size: 20px;
  position: relative;
  transition: all .3s ease-in-out;
}

.unlikedBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.selection {
  min-width:420px;
  width: 50%;
  position: relative;
  left: 25%;
}

.loading {
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding-top: 10%;
}

.likedBtn{
  width: 150px;
  height: 50px;
  display: block;
  text-align: center;
  border:none;
  border:solid 2px black;
  border-radius: 5px;
  background: rgba(255, 255, 255,0);
  font-size: 20px;
  position: relative;
  background:black;
  background: #0466D4;
  color:white; 
  cursor: pointer;
  transition: all .3s ease-in-out;
}

